Flask==3.0.3
Flask-Cors==4.0.1
opencv-python-headless
segment-anything
torch
torchvision
matplotlib
PyMuPDF
ultralytics
transformers
easyocr
waitress
boto3
python-dotenv
requests
Pillow
pymongo[srv]
openai
python-docx
timm
rembg[cpu]
scipy